{% extends 'layout.html' %}
{% block content %}
<div class="container">
    <form method="post" class="row g-3">
        <h1>Cadastro de Alunos {{ "| EDIT: %s" % id if request.endpoint=="Aluno.edit" else "" }}</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        {% if erros | length>0 %}
        <div class="alert alert-info">
        {% for e in erros %}
        <p>{{ e }}</p>
        {% endfor %}
        </div>
        {% endif %}
        <div class="col-6">
            <label class="form-label">Nome</label>
            <input type="text" class="form-control" name="nome" 
                placeholder="Nome completo" value="{{ aluno.nome if aluno else ''}}" required>
        </div>
        <div class="col-md-6">
            <label class="form-label">Melhor Email</label>
            <input type="email" class="form-control" name="email" 
                placeholder="Melhor email"  value="{{ aluno.email if aluno else ''}}" required>
        </div>
        <div class="col-md-4">
            <label class="form-label">Nota de trabalho</label>
            <input type="number" class="form-control" name="t" max="10.0" min="0.0" step="any" required
                placeholder="Nota de trabalho" value="{{ aluno.t if aluno else ''}}">
        </div>
        <div class="col-md-4">
            <label class="form-label">Prova 1</label>
            <input type="number" class="form-control" name="p1" max="10" min="0" step="any" required
                placeholder="Nota da primeira prova" value="{{ aluno.p1 if aluno else ''}}">
        </div>
        <div class="col-md-4">
            <label class="form-label">Prova 2</label>
            <input type="number" class="form-control" name="p2" max="10" min="0" step="any" required
                placeholder="Nota da segunda prova" value="{{ aluno.p2 if aluno else ''}}">
        </div>
        
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Salvar</button>
            <a href="{{ url_for("Aluno.lista") }}" class="btn btn-secondary">Não</a>    
        </div>
    </form>
</div>
{% endblock %}