<div class="navbar">
    <div class="navbar-left" id="livrosBtn">
      <img src="{{ url_for('static', filename='images/menu_livros.png')}}" alt="Ícone de pilha de livros" />
    </div>
    <div class="navbar-center">
      <img src="static/images/logo_senai.png" alt="Logotipo do SENAI" />
    </div>
    <div class="navbar-right" id="userBtn">
      <i class="fas fa-user"></i>
    </div>
  </div>


  <!-- Overlay lateral -->
  <div id="overlay" class="overlay">
    <div class="sidebar">
      <img src="{{ url_for('static', filename='images/menu_livros.png')}}" alt="Livros" />
      <div><a href="{{url_for('index')}}">Início</a></div>
      <div><a href="{{url_for('Livros.lista')}}">Livros</a></div>
      <div><a href="{{url_for('Atividades.lista')}}">Atividades</a></div>
      {% if 'user' in session %}
      <div><a href="{{url_for('Atividades.enviar_anexo')}}">Enviar Atividade</a></div>
      {% endif %}
      
  
    </div>
  </div>